USER_AGENT="OBPCrossrefChapterImporter/1.0; mailto:itp@yourdomain.com)"
EXCLUDED_TITLES=[]
CROSSREF_ROWS=50
URI_API_ENDP=https://identifier.translation.service/translate
URI_API_WORKS=https://identifier.translation.service/works
URI_API_URIS=https://identifier.translation.service/uris
URI_API_REL=https://identifier.translation.service/work_relations
AUTH_API_ENDP=https://authentication.service/auth
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
PREFIX=info:doi:10.11647
